<!DOCTYPE html>
<html>
<head>
    <title>SOAP Calculator</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="container d-flex justify-content-center align-items-center vh-5">
            <h1 class="mt-5">Multiplicaton with SOAP</h1>
        </div>
        
        <form action="/calculate" method="post" class="mt-4">
            <div class="form-group">
                <label for="intA">Enter the first number:</label>
                <input type="number" id="intA" name="intA" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="intB">Enter the second number:</label>
                <input type="number" id="intB" name="intB" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form>
    </div>

    <!-- Include Bootstrap JS and jQuery (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
